backend-poverenik/src/main/resources/wsdl/ZalbePodaci.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ZalbePodaciService"
  targetNamespace="http://demo.example.com/ws/zalbePodaci"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://demo.example.com/ws/zalbePodaci"
  xmlns:ns1="http://demo.example.com/ws/zalbePodaci/data"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    	xmlns:tns="http://demo.example.com/ws/zalbePodaci/data"
    	targetNamespace="http://demo.example.com/ws/zalbePodaci/data" version="1.0">
		<xs:complexType name="zalbePodaci">
			<xs:sequence>
				<xs:element name="zalbeCutanja" type="xsd:nonNegativeInteger"/>
				<xs:element name="zalbeDelimicnosti" type="xsd:nonNegativeInteger"/>
				<xs:element name="zalbeOdbijanja" type="xsd:nonNegativeInteger"/>
			</xs:sequence>
		</xs:complexType>
	</xs:schema>
  </wsdl:types>
  <wsdl:message name="getZalbePodaciRequest">
	<wsdl:part name="godina" type="xsd:nonNegativeInteger" />
  </wsdl:message>
  <wsdl:message name="getZalbePodaciResponse">
	<wsdl:part name="result" type="ns1:zalbePodaci" />
  </wsdl:message>
  <wsdl:portType name="ZalbePodaci">
    <wsdl:operation name="getZalbePodaci">
		<wsdl:input message="tns:getZalbePodaciRequest" />
		<wsdl:output message="tns:getZalbePodaciResponse" />
	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZalbePodaciServiceSoapBinding" type="tns:ZalbePodaci">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getZalbePodaci">
		<soap:operation soapAction="" />
		<wsdl:input>
			<soap:body use="literal"
				namespace="http://demo.example.com/ws/zalbePodaci" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal"
				namespace="http://demo.example.com/ws/zalbePodaci" />
		</wsdl:output>
	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZalbePodaciService">
    <wsdl:port name="ZalbePodaciPort" binding="tns:ZalbePodaciServiceSoapBinding">
      <soap:address location="http://localhost:8080/ZalbePodaciPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
