schema/osnova.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/draganagrbic998/xml/osnova"
    xmlns:osnova="https://github.com/draganagrbic998/xml/osnova">
    <xs:element name="Adresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mesto" type="xs:string"/>
                <xs:element name="postanski_broj" type="xs:positiveInteger"/>
                <xs:element name="ulica" type="xs:string"/>
                <xs:element name="broj" type="xs:positiveInteger"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
